asttokens==2.0.8
autopep8==1.7.0
backcall==0.2.0
Bottleneck @ file:///C:/ci/bottleneck_1648029530934/work
branca==0.5.0
brotlipy @ file:///D:/bld/brotlipy_1648854347500/work
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
cffi @ file:///D:/bld/cffi_1656782940775/work
chardet==5.0.0
charset-normalizer==2.1.1
colorama==0.4.5
cryptography @ file:///D:/bld/cryptography_1657174142266/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
decorator==5.1.1
elastic-transport @ file:///home/conda/feedstock_root/build_artifacts/elastic-transport_1661458726921/work
elasticsearch==7.17.6
elasticsearch-dsl==7.4.0
et-xmlfile==1.1.0
executing==1.0.0
Faker==14.2.1
folium==0.12.1.post1
fonttools @ file:///D:/bld/fonttools_1661381488826/work
gender-guesser==0.4.0
geographiclib==1.52
geopy==2.2.0
gpxpy==1.5.0
gurobipy==9.5.2
gurobipy-stubs==1.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
ipython==8.5.0
jedi==0.18.1
Jinja2==3.1.2
kiwisolver @ file:///D:/bld/kiwisolver_1657953239132/work
MarkupSafe==2.1.1
matplotlib @ file:///D:/bld/matplotlib-suite_1661440002333/work
matplotlib-inline==0.1.6
mkl-fft==1.3.1
mkl-random @ file:///C:/ci_310/mkl_random_1643050563308/work
mkl-service==2.4.0
munkres==1.1.4
numexpr @ file:///C:/ci/numexpr_1656071426911/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1652784037925/work
openpyxl==3.0.10
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///C:/ci/pandas_1650373461903/work
pandasticsearch==0.6.0
parso==0.8.3
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1660385947107/work
ply==3.11
prompt-toolkit==3.0.31
pure-eval==0.2.2
pycodestyle==2.9.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments==2.13.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyQt5==5.15.7
PyQt5-sip @ file:///D:/bld/pyqt-split_1657234606115/work/pyqt_sip
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///C:/Windows/TEMP/abs_90eacd4e-8eff-491e-b26e-f707eba2cbe1ujvbhqz1/croots/recipe/pytz_1654762631027/work
requests==2.28.1
scipy==1.9.1
seaborn==0.12.0
sip @ file:///D:/bld/sip_1655765040828/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smopy==0.0.8
stack-data==0.5.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tornado @ file:///D:/bld/tornado_1656937966227/work
traitlets==5.4.0
unicodedata2 @ file:///D:/bld/unicodedata2_1649112137711/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
wcwidth==0.2.5
win-inet-pton @ file:///D:/bld/win_inet_pton_1648771897787/work
wincertstore==0.2
xlrd==2.0.1
